<div class="col-md-4">
  <div ng-repeat="user in chat.users" ng-click="activate()" class="row" ng-class="{'text-success': user.active}">
    <div class="col-md-4 user">
      <img ng-src="http://lorempixel.com/60/60/technics/{{$index}}">
    </div>
    <div class="col-md-8" ng-class="{hasNew: user.hasNew}" ng-bind="user.name">
    </div>
  </div>
</div>
<div class="col-md-8">
  <div class="row">
    <input ng-model="chat.msg"><span class="btn btn-primary" ng-click="chat.send()">Send</span>
  </div>
  <div class="row bubble" ng-repeat="message in chat.messages" ng-class="{mine: message.isMine}">
    <p class="date" ng-bind="message.when"></p>
    <p ng-bind="message.message"></p>
  </div>
</div>